/*-- scss:defaults --*/

// Import font-size
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;500&display=swap');



// Colors
$blue: #92ACE0;
$turquoise: #40E0D0;
$yellow: #B6E427;

// base document Colors
$navbar-bg: $blue;
$navbar-fg: $yellow;
$body-bg: $turquoise;